services:
  db: # MariaDBのコンテナ
    image: mariadb:10.11
    environment:
     MARIADB_ROOT_PASSWORD: rootpass # ルートユーザーのパスワード
     MARIADB_DATABASE: testdb # データベース名
     MARIADB_USER: testuser # データベースのユーザー名
     MARIADB_PASSWORD: testpass # データベースのパスワード
    volumes:
     - db-data:/var/lib/mysql
  phpmyadmin:
   image: phpmyadmin:5.2.3
   depends_on:
    - db
   environment:
    PMA_HOST: db # MariaDBのコンテナ名を設定
    PMA_USER: testuser
    PMA_PASSWORD: testpass
   ports:
    - "8080:80"
   volumes:
    - phpmyadmin-data:/sessions
volumes:
 db-data:
 phpmyadmin-data: